@import "tailwindcss";

:root {
  --color-ariel-bg: rgba(59, 130, 246, 0.15);
  --color-ariel-border: #3b82f6;
  --color-ariel-text: #dbeafe;

  --color-pamela-bg: rgba(236, 72, 153, 0.12);
  --color-pamela-border: #ec4899;
  --color-pamela-text: #fce7f3;
}

body {
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(59, 130, 246, 0.08),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(236, 72, 153, 0.08),
      transparent 40%
    ),
    #0f172a;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Courier New", monospace;
}
